extends _base

block content
   .container
      h2.intro Hallo! Wir machen T-Shirts mit <strong>Hirn und Charme</strong>. Entdecke <strong>dada</strong>&shy;istischen Unsinn, <strong>nerd</strong>ige Zahlen&shy;spielereien und <strong>Körper&shy;flüssigkeiten</strong>.
      .flex-row
         - for collection in collections
            .card.flex-item
               .card-image
                  a(href='#{collection.link}')
                     img(src='#{collection.image}')
               .card-header 
                  a(href='#{collection.link}')= collection.name
               .card-text
                  p!= collection.description
                  a(href='#{collection.link}') &rarr; &nbsp; zu #{collection.linkText}
         


